.Predictions {
  padding-top: 80px;
}

.PlayerName {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 30px;
}

@media (max-width: 550px) {
  .PlayerName {
    padding-bottom: 20px;
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  .PlayerName {
    padding-bottom: 14px;
    font-size: 14px;
  }
}
