.Button {
    background-color: #007bff;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.Button:active {
  box-shadow: 0;
  transform: translateY(4px);
  outline:none;
  border:0;
}

.Success {
    background-color: #007bff;
}

.Danger {
    background-color: #fa1b1b;
}

.Button:disabled {
  color:#ccc;
  cursor: not-allowed;
}
